

body{
    font-family: "Open Sans", sans-serif;
}

/* shared style */ 

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    padding: 17px 30px;
    border: none;
    border-radius: 5;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #181818;
}

.section-des{
    color: #474747;
    font-size: 18px;
    text-align: center;
}

/* Nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.nav-title{
color: #181818;
font-size: 45px;
font-weight: 800px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

/* header realted style */
.header{
    background-color: #FFF8F3;
    background-image:url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 650px;
}


/* banner related style */
.banner{
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.banner-content{
    max-width: 500px;

}

.profile-pic{
    width: 100%;
}

.banner-greeting{
    font-size: 30px;
    color: #474747;
    font-weight: 600px;
    margin-bottom: 0;

}
.banner-title{
    font-size: 54px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-des{
    font-size: 18px;
    color: #474747;
    margin-bottom: 20px;
}


/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 100px;
}

/* about section style */
.about{
    background-color: #FFF8F3;
    padding: 40px;
    margin: 100px 0px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}


/* what i do section style */
#what-i-do-des{
padding: 10px 150px;
}

.skill-container{
    display: flex;
     gap: 24px;
}

.skill{
   padding: 30px;
   border-radius: 5px;
   background-color: #fff;
   box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-des{
    color: #474747;
}

/* resume section style */

.resume-container{
    display: flex;
    gap: 50px;
}
.resume-column-title{
    font-size: 30px;
    color: #474747;
    font-weight: bold;
   
}
.resune-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
     margin-bottom: 10px;
}
.resume-item-institude{
    margin-bottom: 20px;
    margin-top: 0px;
    
}
.resume-item-institude, .resume-item-des{
    color: #474747;
}

.resume-container hr{
    margin: 30px;
}

.download-cv{
    text-align: center;
    margin-top: 40px;
}

/* footer style */
footer{
    display: flex;
    gap: 50px;
    background-color: #FFF8F3;
    padding: 130px 100px;
    margin-top: 100px;
}

.footer-column{
    width: 50%;
}

.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    color: #474747;
    background-color: #fff;
    border-radius: 5px;
    padding: 17px 35px;
    border: 0;
    margin-bottom: 25px;
    width: 100%;

}
.social-icon img{
    margin-right: 20px;
}
