

body{
    font-family: "Open Sans", sans-serif;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    padding: 17px 30px;
    border: none;
    border-radius: 5;
    font-size: 20px;
    font-weight: bold;
}

/* Nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.nav-title{
color: #181818;
font-size: 45px;
font-weight: 800px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

/* header realted style */
.header{
    background-color: #FFF8F3;
}

/* banner related style */
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.profile-pic{
    width: 40%;
}